<p id="notice"><%= notice %></p>

<p>
  <h1><%= @klass.title %> Skills</h1>
</p>

<p>
  <ul>
    <% @klass.skill_categories.each do |skill_category| %>
      <strong><%= skill_category.title %> <span class=""><%= skill_category.order %></span></strong>
      <ul>
        <% skill_category.skills.each do |skill| %>
          <li><%= skill.order %>: <%= link_to skill.title, skill %></li>
        <% end %>
      </ul>
    <% end %>
  </ul>
</p>

<p>
  <%= @klass.passive_skills.map(&:title).join(', ') %>
</p>

<%= link_to 'Edit', edit_klass_path(@klass) %> |
<%= link_to 'Back', klasses_path %>
